@using EN;
@using WebPruebaC.Utilidades;
@{
    ViewBag.Title = "Index";
}
@model List<EN.UsuarioEN>
<div class="container mt-5 text-white">

    <div class="row">
        <div class="col-md-12">
            <h2>Lista de usuarios</h2>

        <div class="d-flex justify-content-end">
            <a href="@Url.Action("CrearUsuario","Admin")" class="btn btn-success">Nuevo</a>
        </div>

        </div>

    </div>
    <hr />



    <table class="table text-white">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Usuario</th>
                <th scope="col">Rol</th>
                <th scope="col">Creación</th>
                
            </tr>
        </thead>
        <tbody>

            @foreach (var usuario in Model)
            {
                <tr>
                    <th scope="row">@usuario.Id</th>
                    <td>@usuario.Usuario</td>
                    <td>@usuario.Rol.Nom_Rol</td>
                    <td>@Utilidades.TimeAgo(usuario.Fecha_Creacion)</td>
                    @*<td>
                        <form action="/" method="post">
                            <input type="submit" value="Eliminar" class="btn btn-danger" />
                        </form>
                    </td>*@
                </tr>
            }

        </tbody>
    </table>

   



</div>

